*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
header{
    z-index: 1;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgb(51, 105, 255);
    padding: 15px;
}

.f-h{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.visibile-992{
    display: none;
}

.bars{
    color: white;
    font-size: 20px;
}

    /* display d */
.inline{
   display: inline;
}

.link{
   color: white;
   text-decoration: none;
   padding-left: 10px;
   padding-right: 10px;
}

.link-speciale{
   background-color: white;
   color: black;
   border-radius: 20px;
   padding-bottom: 5px;
   padding-top: 5px;
}

  /* main */
.p-30{ 
  padding: 30px;
}
.m-100{
    margin-top:100px;
}

/* prima sezione */
.f-m{
   display: flex;
   flex-direction: column; 
}

.col-b{
    background-color: lightblue;
}

.b-r{
    border-radius: 20px;
}

.m-40{
    margin-bottom: 40px; 
}

.card-r{
  width: 100%;
  padding: 20px;
}

.card-q{
   width: 100%;
   margin-top: 15px;
   padding: 20px;
}

.tb{
    color: rgb(51, 105, 255);
}


.bt-b{
    background-color:  rgb(51, 105, 255);
    display: inline-block;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.t-c{
    text-align: center;
}

.iphone-img{
    width: 200px;
}

.f-40{
    font-size: 100px;
}

/* seconda sezione */
.c-p{
    background-color: #9593E6
}

.t-p{
    color: #9593E6
}

.f-m-c{
    display: flex;
    flex-direction: column; 
 }

.img-sec-sez{
    width: 300px;
}

.tw{
    color: white;
}

.b-tw{
    background-color: white;
}

/* terza sezione */

.testimonial{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 100%;
}

.f-c{
    display: flex;
    flex-direction: column;
}

.p-l-t{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.p-l-r{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    color: white;
}

/* quarta sezione */
.card-n{
    width: 100%;
    margin-top: 15px;
    padding: 20px;
}

.m-20{
    margin-bottom: 20px;
}

.bt-p{
    display: inline-block;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.f-70{
    font-size: 70px;
}

/* quinta sezione */
.p-r{
    position: relative;
    display: inline-block;
}

.p-a{
    position: absolute;
    top: 0;
    left: 105px;
}

/* sesta sezione  */
.dis-flex{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.c-o{
    color: orange;
}

.color{
    color: rgb(232, 208, 255);
}

@media all and (min-width: 768px){
    .f-m{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card-r{
        width: 60%;
        margin-top: 10px;
        margin-left: 20px;
    }
      
     .card-q{
      width: 29%;
      margin-left: 20px;
    }
      
      .f-50{
        font-size: 50px;
    } 

    .d-f{
        display: flex;
        align-items: center;
    }

    .card-n{
        width: 45%;
        margin: 10px;
    }

    .st-1{
        width: 60%;
    }

    .st-2{
        width: 30%;
    }

}

@media all and (min-width: 992px){
    .box{
        max-width: 1400px;
        width: 992px;
        margin: 0 auto;
    }

    .f-992{
        display: flex;
    }

    .t-c{
        text-align: center;
    }

    .f-m-c{
        flex-direction: row;
    }

    .iphone-img{
        width: 250px;
    }

    .visibile-992{
        display: inline-block;
    }

    .bars{
        display: none;
    }

    .card-n{
        width: 30%;
        margin: 10px;
    }
}